<!DOCTYPE html>
<html>

<head>
    <title>Iframes</title>
</head>

<body>
    <h1>Lista de Diretórios</h1>
    <% if (listaDiretorios && listaDiretorios.length> 0) { %>
        <ul>
            <% listaDiretorios.forEach(function(link) { %>
                <li>
                    <a href="/iframesprontos/<%= link %>">
                        <%= link %>
                    </a>
                </li>
                <% }); %>
        </ul>
        <a href="/"><button>Voltar ao início</button></a>
        <% } else { %>
            <p>Nenhum diretório encontrado.</p>
        <% } %>
</body>

</html>