
    <!DOCTYPE html>
    <html>
    <head>
        <title>Lista dos PDFs</title>
    </head>
    <body>
        <h1>Lista de Hiperlinks</h1>
        <ul>
            <li><a href="/uploads/2023-02-23_10-17-atv 3/2023-02-23_10-17-atv 3.pdf">2023-02-23_10-17-atv 3</a></li>
<li><a href="/uploads/31+-+TYPESCRIPT/31+-+TYPESCRIPT.pdf">31+-+TYPESCRIPT</a></li>
<li><a href="/uploads/Atividade 4 (A4)_ LOGICA/Atividade 4 (A4)_ LOGICA.pdf">Atividade 4 (A4)_ LOGICA</a></li>
<li><a href="/uploads/Boleto3038590/Boleto3038590.pdf">Boleto3038590</a></li>
<li><a href="/uploads/Desenvolvedor+WEb/Desenvolvedor+WEb.pdf">Desenvolvedor+WEb</a></li>
<li><a href="/uploads/Desenvolvedor+WEb (1)/Desenvolvedor+WEb (1).pdf">Desenvolvedor+WEb (1)</a></li>
<li><a href="/uploads/doMal/doMal.pdf">doMal</a></li>
<li><a href="/uploads/Indice de acidentes, Atividade A3 logica/Indice de acidentes, Atividade A3 logica.pdf">Indice de acidentes, Atividade A3 logica</a></li>
<li><a href="/uploads/PR-IRPF-2022-v-1-2-2022-05-16/PR-IRPF-2022-v-1-2-2022-05-16.pdf">PR-IRPF-2022-v-1-2-2022-05-16</a></li>
<li><a href="/uploads/XBOX ADAPTIVE CONTROLLER EN PT FR ES DE IW IT PL/XBOX ADAPTIVE CONTROLLER EN PT FR ES DE IW IT PL.pdf">XBOX ADAPTIVE CONTROLLER EN PT FR ES DE IW IT PL</a></li>
<li><a href="/uploads/Boleto3038590/Boleto3038590.pdf">Boleto3038590.pdf</a></li>

        </ul>
    </body>
    