<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf Invalida</title>
</head>
<body>
    <h1>Por favor, envie um arquivo PDF válido.</h1>
    <a href="/uploads/"><button>Enviar novamente</button></a>
</body>
</html>