
    <!DOCTYPE html>
    <html>
    <head>
        <title>Visualizar PDF</title>
    </head>
    <script>
        function copiarIframe() {
            var iframeTag = "<iframe src='/uploads/CurriculoGustavo/CurriculoGustavo.pdf' width='100%' height='1000px' type='application/pdf'></iframe>";
        
            navigator.clipboard.writeText(iframeTag)
            .then(function() {
                alert('A tag do iframe foi copiada para a área de transferência!');
            })
            .catch(function(error) {
                console.error('Erro ao copiar a tag do iframe:', error);
            });
        }
    </script>
    <body>
        <h1>Seu iframe:</h1>
        <div>
            <pre>
                <code>
                    <xmp>
                        <iframe src="/uploads/CurriculoGustavo/CurriculoGustavo.pdf" width="100%" height="1000px" type="application/pdf">
                    </xmp>
                </code>
            </pre>
            <button onclick="copiarIframe()">Copiar Livro</button>
        </div>
        <iframe src="/uploads/CurriculoGustavo/CurriculoGustavo.pdf" width="100%" height="1000px" type="application/pdf">
    </body>
    </html>
